<div class="signin-page">
  <form id="signin-form" action="/auth/signup" method="POST">
    <h1>Sign Up</h1>
    <h2>Create your free account!</h2>
    <input type="text" name="username" placeholder="Username" required/><br>
    <input type="text" name="email" placeholder="Email" required/><br>
    <input type="password" name="password" placeholder="Password" required/><br>
    <input type="radio" id="professional" name="professional" value="professional">
      <label for="professional">I'm a Professional</label>
    <input type="radio" id="company" name="company" value="company">
      <label for="company">I'm a Company</label><br>
    {{#if message}}
    <div class="error-message">{{message}}</div>
    {{/if}}
    <button type="submit">Sign up</button>
  </form>
  <p class="message">Already have an account? <a href="/auth/login"><u>Sign in!</u></a></p>
</div>
