{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

{{!-- LANDING PAGE --}}

{{!-- SECTION - 
IMAGE --}}

{{!-- MOBILE FIRST --}}

<header id="header" class="header">
  <img src="" class="logo" alt="The Biggest Internship Platform" id="header-img" />
  
  <nav class="navbar navbar-default navbar-fixed-top" id="navbarID">


  <ul class="nav nav-tabs">
    <!--- nav-tabs" id="nav-tabID">-->
    
<div class="topnav" id="myTopnav">
  <a href="#home" class="active">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

  

</header>
<main>
  <section class="intro">
    <h1 class="">
      MyInternship
    </h1>
    
    <h2 class="">
      Find your Internship
    </h2>
    
    <a href="#" class="button">Find your Internship</a>
    <img class="footer" src="/images/briefcase1.png" style="background-color: white" alt="" />
  </section>
  
  <section id="features" class="features">
    <h2 class="">Features</h2>
    <ul class="list">
      <li>
        <p><strong>Find and Enroll</strong> In your dream Internship</p>
      </li>
      
      <li>
        <p><strong>Manage</strong> your applications and documents</p>
      </li>
      
      <li>
        <p><strong>Don't waste time,</strong> we do the work for you!</p>
      </li>
    </ul>
  </section>
