{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

{{!-- LANDING PAGE --}}

{{!-- SECTION - 
IMAGE --}}

{{!-- MOBILE FIRST --}}

<main>
  <section class="intro">
    
    <h3 class="">
      Finding your Internship made easy
    </h3>
    

    <p>Gain work experience & kickstart your career at a cutting edge startup, Fortune 500, or anything in between</p>

    <a href="#" class="button">Finding your Internship made easy</a>
    
    <img class="image" src="/images/man-sitting.png" style="background-color: white" alt="" />
  </section>
  
  <section id="features" class="features">
    <h2 class="">Features</h2>
    <ul class="list">
      <li>
        <p><strong>Find and Enroll</strong> In your dream Internship</p>
      </li>
      
      <li>
        <p><strong>Manage</strong> your applications and documents</p>
      </li>
      
      <li>
        <p><strong>Don't waste time,</strong> we do the work for you!</p>
      </li>
    </ul>
  </section>

