<section class="main-content">
  <div class="hero-text">
    <h1>Find internship made easy</h1>
    <p>Gain work experience & kickstart your career at a cutting edge startup,
      Fortune 500, or anything in between.
    </p>
    <a class="btn-primary" href="/auth/login">Start applying</a>
    <div class="btn-group">
      <a class="btn-linked" href="/auth/login">Start hiring</a>
      <img class="btn-icon" src="/images/bi_arrow-right-square-fill.png" alt="">

    </div>
  </div>
  <figure>
    <img src="/images/undraw_feeling_proud_qne1.png" alt="">
  </figure>

</section>