body {
  padding:0;
  box-sizing: border-box;
  margin: 0;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  
 }
 
 a{
  text-decoration: none;
 }

 .edit-item{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin:0 10px;
 }
 .text-warning{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

 }
 .warning{
  color: rgb(242, 0, 0);
 }
 .text-center{
   text-align: center;
 }


 .navbar{
  width:100%;
  background: #6C63FF;
}
 .container{
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.column{
  display: flex;
  flex-direction: column;
}

.navbar-logo{
  width:80px;
}
.menu{
  display: flex;
  margin:0 15px;
}
.btn{
  font-size: 1.3rem;
  color:#fff;
  padding:5px 10px;
}
.btn-secundary{
  border:1px solid #fff;
  border-radius: 15px;
}

.container{
  display: flex;
  flex-wrap: wrap;
}

.main-content{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  min-height:50%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.hero-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:30px

}
.btn-primary{
  font-size: 1.1rem;
  background:#6C63FF;
  color:#fff;
  padding: 5px 75px;
  border-radius:10px;
  border:none;
  margin:5px;
}

.btn-secondary {
  font-size: 1.1rem;
  background:#FC0001;
  color:#fff;
  padding: 5px 75px;
  border-radius:10px;
  border:none;
}

.btn-secondary-apply {
  font-size: 0.65rem;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  background: #FC0001;
  color: #fff;
  margin: 5px 0px 5px 0px;
  padding: 5px 52px;
  border-radius: 10px;
  border: none;
}

.btn-form {
  font-size: 0.65rem;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  background:#6C63FF;
  color:#fff;
  margin: 5px 0px 5px 0px;
  padding: 5px 21px;
  border-radius:10px;
  border:none;
}

.btn-linked{
  font-size: 1.1rem;
  color:#6C63FF;  
  margin-right: 5px;
}
.btn-group{
  display:flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin:5px
}
.btn-icon{
  height: 20px;
}
.body-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0 auto;
  min-height: 65vh;
}

.title{ 
  text-align: center;
}
.card-title{
  font-weight: bold;
  color: #6C63FF
}

.user-info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;
  padding-bottom: 10px;
  border-bottom: 1px solid #C9C6FF
}
.user-avatar{
  height: 80px;
  border-radius: 50%;
}
.user-name{
  margin:5px
}
.edit-perfil{
  display: flex;
}
.edit-icon{
  background: transparent;
  border:none;
  
}
.edit-icon img{
 height: 30px;
}


.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 30px;
  border:1px solid #6C63FF;
  border-radius: 10px;
  width:300px;
  height: auto;
  margin: 10px;
  margin:10px auto;
  
} 
.card-top-btn-group{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  
}
select{
  text-transform:capitalize;
  background: transparent;
}

.card-btn-icon{
  background: transparent;
  border:none;
}
.card-btn-icon img{
  height: 40px;
}
.btn-back{ 
  display: flex;
  justify-content: center;
  align-self: center;
  align-content: center;
}
.card-tags{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.card-tags-item{
  background: rgb(204, 241, 234);
  padding:5px 15px;
  margin: 5px;
  border-radius:15px;
  color:  rgb(0, 183, 150);

  
}
li{
  list-style: none;
}
.filters-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.filters-item{
  background: rgb(241, 204, 213);
  padding:5px 15px;
  margin: 5px;
  border-radius:15px;
  color:  rgb(116, 6, 31);

  
}


.find-form ,.form-add-vacancy{ 
  display: flex;
  flex-direction: column;
  min-width:250px;
}
.find-form :nth-child(n){
  margin-top:5px;
}
.form-add-vacancy :nth-child(n){
  margin-top:5px;
}
input,select {
  border-radius: 5px;
  font-size: 1.1rem;
  border: 1px solid #6C63FF;
  color: #444083;
}

::placeholder{
  font-size: 1.1rem;
  color: #444083;
}
textarea{
  border: 1px solid #6C63FF;
  color: #444083;
  border-radius: 5px;
}

.btn-reset{
  
  font-size: 1.1rem;
  background:#fc0000;
  color:#fff;
  padding: 5px 75px;
  border-radius:10px;
  border:none
}
.btn-apply{
  
    font-size: 1.1rem;
    background:#00a713;
    color:#fff;
    padding: 5px 50px;
    border-radius:10px;
    border:none;
    margin:10px;

}

.btn-test {
  font-size: 1.1rem;
  background: #00a713;
  color: #fff;
  padding: 5px 52px;
  border-radius: 10px;
  border: none;
  margin: 10px;
}

.btn-contact-company {
  font-size: 1.1rem;
  background: #00a713;
  color: #fff;
  padding: 5px 11px;
  border-radius: 10px;
  border: none;
  margin: 10px;
}
  
.btn-back-to-list {

  font-size: 1.1rem;
  background: #6C63FF;
  color: #fff;
  padding: 5px 52px;
  border-radius: 10px;
  border: none;
  margin: 5px;
}

.apply-textarea {
  border: 1px solid #6C63FF;
  color: #444083;
  border-radius: 5px;
  margin: 5px;
  padding: 0px;
}

.apply-input {
  border-radius: 5px;
  font-size: 1.1rem;
  border: 1px solid #6C63FF;
  color: #444083;
  margin: 5px;
  padding: 0px 7px;
}

.footer{
  width:100%;
  background: #4B45B6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  bottom: 0;
}

.apply-page {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 342px;
  height: 600px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
  
.apply-page p{
  color: #6C63FF;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
  
.apply-page h2 {
  color: #6C63FF;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.apply-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;  
}

@media (min-width:1060px){
  /* .footer{
    position: fixed;
    bottom: 0;
  } */
}
.footer-logo{
  width:60px;
}
.footer-social{
  color: #fff;
  font-size: 1.2rem;
}
.footer-copyright{
  color: #fff;
}
