<h1 class="title">Apply</h1>
<div class="container">
  <div class="card">
    <h2 class="card-title">{{vacancy.title}}</h2>
    <form class="login-form" action="" method="post">
      <input name="title" placeholder="Subject:" required>
      <input type="email" placeholder="E-Mail:" required>
      <textarea name="title" id="" cols="30" rows="10"></textarea>
    </form>
    <a class="btn-contact-company" href="/apply">Send E-Mail</a>
    <a class="btn-back-to-list" href="/vacancies">Back to list</a>
  </div>
</div>