<h1>Apply</h1>
<form class="form-add-vacancy" id="form" action="/vacancy/apply" method="POST">

  <label for="title">Title</label>
  <input type="text" name="title" value="{{vacancy.title}}" />

  <label for="description">Description</label>
  <textarea type="text" name="description"></textarea>

  <a href="mailto:test@example.com?subject=Testing out mailto!&body=This is only a test!">Second Example</a>

</form>

<a href="/">Home</a>
<a href="/vacancies">Back to list</a>