<h1 class="title">Apply</h1>
<div class="container">
  <div class="card">
    <h2 class="card-title">{{vacancy.title}}</h2>
    <form class="login-form" action="/apply/send" method="post">
      <input class="apply-input" name="subject" placeholder="Subject:" required>
      <input class="apply-input" name="email" type="email" placeholder="E-Mail:" required>
      <textarea class="apply-textarea" name="content" id="" cols="30" rows="10" placeholder="Message:"></textarea>
      <button id="btn-contact-company" class="btn-contact-company" type="submit">Send E-Mail</button>
    </form>
    <a class="btn-back-to-list" href="/vacancies">Back to List</a>
  </div>
</div>