<h1>Add a new Vacancy</h1>
<form class="form-add-vacancy" id="form" action="/vacancy/create" method="POST">

  <label for="title">Title</label>
  <input type="text" name="title" class="input-text" required />

  <label for="description">Description</label>
  <textarea name="description" class="input-text" id="description" cols="30" rows="10" required></textarea>

  <label for="category">Category</label>
  <input type="text" class="input-text" name="category" required />

  <label for="tags">Tags</label>
  <input type="text" class="input-text" name="tags" required />

  <label for="location">Location</label>
  <input type="text" class="input-text" name="location" required />

  <label for="contract">Contract</label>
  <select name="contract" class="input-text" id="contract" required>
    <option value="" selected disabled hidden>Contract</option>
    <option value="full time">Full time</option>
    <option value="part time">Part time</option>
  </select>


  {{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
  {{/if}}

  <button class="tn-apply" type="submit">Add Vacancy</button>
</form>

<a class="btn-primary" href="/vacancies">Back to list</a>